<!DOCTYPE html>

<html ng-app='app' xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Angular fun!</title>
    <script data-require="angular.js@*" data-semver="1.4.0-beta.4" src="Scripts/angular.min.js"></script>
    <script src="Scripts/Angular4.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <link href="Styles/OSCAngularGeneral.css" rel="stylesheet" />
</head>

<body>
    
    <div ng-include src="'AngularPartialView/navigation.html'"></div>

    <h3>LESSON 1 : Angular requires the following Script: </h3>
<!--   <div class="green"> &lt;script data-require="angular.js@*" data-semver="1.4.0-beta.4" src="Scripts/angular.min.js"&gt;&lt;/script&gt;</div>
       <br /><b>or</b><br />-->

       <div class="pink">&lt;script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"&gt;&lt;/script&gt;

   </div>

    <h3>DIRECTIVES 1: First Directive</h3>
    add the <div class="pink"> "ng-app" </div> DIRECTIVE to the tag where you want angular to Appear/function. EXAMPLE: &lt;body ng-app&gt;

    <h3>DIRECTIVES 2: Create A model from Html Input</h3>
    Add the <div class="pink">ng-model="name"</div> Directive to any Input tag or any HTML control that accepts a value. EXAMPLE: &lt;p&gt;Name: &lt;input type="text" ng-model="name"&gt;&lt;/p&gt; 

    <h3>DIRECTIVES 3: Bind your model data</h3>
    Add the <div class="pink">ng-bind="name"</div> Directive to any tag.  EXAMPLE:&lt;p ng-bind="name"&gt;&lt;/p&gt;

    <h3>DIRECTIVES 4: Initialize your model data</h3>
    Add <div class="pink"> ng-init="firstName='John'"</div> Directive to any tag

    <h3>EXPRESSIONS 1: Are written with {{ }}{{ expression }} and can be used instead of ng-bind="expression"</h3>
    enclose everything in mustaches.

    <h3>EXPRESSIONS 2: A Division Math Problem:</h3>
     843 / 42 = {{ 843 / 42 }}

     <h3>DIRECTIVES 5: Include partial pages</h3>
     Add the <div class="pink">ng-include src="'/path/to/YourPartial.html'" </div> to a Div tag

    

 
    <div ng-include src="'AngularPartialView/footer.html'"></div>
</body>

</html>
