<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ang. Page 2</title>
<!--<script data-require="angular.js@*" data-semver="1.4.0-beta.4" src="Scripts/angular.min.js"></script>-->
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<body ng-app>

<div ng-include src="'AngularPartialView/navigation.html'"></div>
    <h3>CONTROLLER 1: A). Create A Controller in JavaScript then B). Display the Controller DATA in Html</h3>
       &lt;script&gt;
    <br />
           function personController($scope) {<br />
               $scope.firstName = "John";<br />
               $scope.lastName = "Doe";<br />
           }<br />
    &lt;/script&gt;
     <h3>CONTROLLERS 1: B). Display the Controller Data in HTML </h3>
    Type in the boxes and watch the dynamically update
    <br />
    <div ng-controller="personController">
        First Name:
        <input type="text" ng-model="firstName" /><br />
        Last Name:
        <input type="text" ng-model="lastName" /><br />
        <br>
        Full Name: {{firstName + " " + lastName}}

    </div>

    <script>
        function personController($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
        }
    </script>

    <br /><br /><br /><br />
</body>
</html>
